body
	{
	background-color: #a39193;
	}

h1
	{
		background-color: #66545e;
	color: 	#f6e0b5;
	font-family: 'Bungee Outline', cursive;
	font-size: 50px;
	border: solid;
	border-color: #ebdada;
	border-radius: 35px;
	}

h2
	{
	color: #dfdfde;
	font-family: 'Bungee Outline', cursive;
	font-size: 50px;
	background-color: #a2798f;
	border: dotted;
	border-color: #dfdfde;
	border-radius: 35px;
	}
p
	{
	background-color: green
	color:blue;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px;
	padding: 15px;

	}
a:link, a:visited
	{
	background-color: #66545e;
	color: #a39193;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 15px;
	padding: 15px;
	font-family: 'Bungee Outline', cursive;
	}

a:hover, a:active
	{
	background-color: #8caba8;
	color: 	#d7c6cf;
	}
